[Unit]
Description=VU Meter
Requires=mopidy.service
After=pulseaudio.service

[Service]
ExecStart=/usr/local/bin/vumeter/vu_meter.py
User=pi

[Install]
WantedBy=multi-user.target

